<div>
    <h1>Welcome to Michi</h1>
</div>


<div style="width:100%;">
    <div style="width:50%">
        <div style="width:25%; float:left;">1</div>
        <div style="width:25%; float:left;">2</div>
        <div style="width:25%; float:left;">3</div>
    </div>
</div>
<div>
    <div style="width:50%">
        <div style="width:25%; float:left;">4</div>
        <div style="width:25%; float:left;">5</div>
        <div style="width:25%; float:left;">6</div>
    </div>
</div>
<div>
    <div style="width:50%">
        <div style="width:25%; float:left;">7</div>
        <div style="width:25%; float:left;">8</div>
        <div style="width:25%; float:left;">9</div>
    </div>
</div>

